@charset "UTF-8";
Body {
  font-family: "Rubik", sans-serif;
  background: #1C2023;
  font-size: 16px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

input,
button {
  border: none;
  background: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  font-family: "Rubik", Roboto, sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  width: 1420px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 47px;
  color: #fff;
  text-align: center;
  opacity: 1;
  transition: opacity 0.5s;
}

.violet {
  color: #8856D9;
}

.orange {
  color: #FF4136;
}

.ul-hidden {
  transform: translateX(-540px);
  transition-property: transform;
  transition-duration: 0.6s;
  transition-timing-function: ease;
  transition-delay: 0.3s;
}

.mobile-burger-menu {
  width: 127vw;
  height: 122vh;
  position: fixed;
  padding-left: 10%;
  overflow-y: hidden;
  background: #141615;
}
.mobile-burger-menuul {
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  text-transform: uppercase;
  opacity: 0;
  transform: translateY(-82%);
}
.mobile-burger-menu.ul-hidden {
  display: none;
}
.mobile-burger-menu.show-menu {
  display: block;
  transform: translateX(0px);
  transition-property: transform;
  transition-duration: 0.6s;
  transition-timing-function: ease;
  transition-delay: 0.3s;
  height: 120vh;
  padding-top: 29px;
}
.mobile-burger-menu__button {
  width: 25px;
  height: 16px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  transition: width 0.25s;
  margin-top: 3%;
}
.mobile-burger-menu__button span {
  width: 25px;
  height: 2px;
  background: #fff;
  position: relative;
  display: block;
  transform: rotate(41deg);
  transition: transform 0.7s;
}
.mobile-burger-menu__button span::after {
  display: block;
  content: "";
  width: 25px;
  height: 2px;
  background: #fff;
  position: absolute;
  transition: width 0.25s;
  transform: rotate(-83deg);
}
.mobile-burger-menu-ul {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  text-transform: uppercase;
}
.mobile-burger-menu .lang1 {
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}
.mobile-burger-menu .lang1 svg {
  width: 12px;
  height: 12px;
  fill: #fff;
  margin-left: 9px;
}
.mobile-burger-menu .lang1 svg.rotate {
  transform: rotate(180deg);
  transition: transform 0.5s;
}
.mobile-burger-menu__languages {
  padding: 10px 15px;
  border-radius: 6px;
  background: #30373F;
  position: absolute;
  top: 100%;
  display: none;
}
.mobile-burger-menu__languages.open {
  display: block;
  z-index: 1000;
}
.mobile-burger-menu__language {
  font-weight: 500;
  cursor: pointer;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.5);
  transition: color 0.25s;
  z-index: 1000;
}
.mobile-burger-menu__language:hover {
  color: #8856D9;
}

.section.hidden .editions-item {
  transition: transform 0s;
  transform: translateX(-2000px);
}
.section.hidden h2 {
  transition: opacity 0s;
  opacity: 0;
}
.section.hidden .dual,
.section.hidden .explore-info {
  transition: column-gap 0s;
  transition: column-gap 0s, -moz-column-gap 0s;
  -moz-column-gap: 250%;
       column-gap: 250%;
}
.section.hidden .video {
  transition: transform 0s;
  transform: scale(0);
}
.section.hidden .news,
.section.hidden .faq-item {
  transition: transform 0s;
  transform: translateX(-200%);
}
.section-main {
  padding-top: 40px;
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  min-height: 700px;
}
.section-main:after, .section-main:before {
  height: 764px;
  width: 1363px;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.section-main:after {
  background: url(../images/snow.gif) no-repeat center/cover;
  opacity: 0.1;
}
.section-main:before {
  background: url(../images/bg.png) no-repeat center/cover;
}
.section-dual {
  margin-top: 54px;
}
.section-about {
  margin-top: 90px;
}
.section-explore {
  margin-top: 80px;
}
.section-news, .section-faq {
  margin-top: 100px;
}

.header {
  align-items: center;
}
.header-menu {
  align-items: center;
}
.header-menu__button {
  width: 25px;
  height: 16px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  transition: width 0.25s;
}
.header-menu__button span {
  width: 25px;
  height: 2px;
  background: #fff;
  position: relative;
  display: block;
}
.header-menu__button span:hover {
  color: #8856D9;
}
.header-menu__button span::after, .header-menu__button span::before {
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  background: #fff;
  position: absolute;
  transition: width 0.25s;
}
.header-menu__button span:after {
  top: 5px;
}
.header-menu__button span::before {
  width: 25px;
  top: 10px;
}
.header-menu__button1 {
  width: 25px;
  height: 16px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  transition: width 0.25s;
  display: none;
}
.header-menu__button1 span {
  width: 25px;
  height: 2px;
  background: #fff;
  position: relative;
  display: block;
}
.header-menu__button1 span:hover {
  color: #8856D9;
}
.header-menu__button1 span::after, .header-menu__button1 span::before {
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  background: #fff;
  position: absolute;
  transition: width 0.25s;
}
.header-menu__button1 span:after {
  top: 5px;
}
.header-menu__button1 span::before {
  width: 25px;
  top: 10px;
}
.header-menu__list {
  margin-left: 50px;
  z-index: -1;
}
.header-menu__list ul {
  -moz-column-gap: 24px;
       column-gap: 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  text-transform: uppercase;
  opacity: 0;
  transform: translateY(-82%);
  margin-left: -52%;
}
.header-menu__list ul.show {
  transition: opacity 0.4s, transform 0.25s;
  opacity: 1;
}
.header-menu__list .lang {
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}
.header-menu__list .lang svg {
  width: 12px;
  height: 12px;
  fill: #fff;
  margin-left: 9px;
}
.header-menu__list .lang svg.rotate {
  transform: rotate(180deg);
  transition: transform 0.5s;
}
.header-menu__link {
  position: relative;
  color: rgba(255, 255, 255, 0.5);
  transition: color 0.25s;
}
.header-menu__link:hover {
  color: #8856D9;
}
.header-menu__languages {
  padding: 10px 15px;
  border-radius: 6px;
  background: #30373F;
  position: absolute;
  top: 100%;
  display: none;
}
.header-menu__languages.open {
  display: block;
}
.header-menu__language {
  font-weight: 500;
  cursor: pointer;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.5);
  transition: color 0.25s;
}
.header-menu__language:hover {
  color: #8856D9;
}
.header.opened .header-menu__button span {
  width: 12px;
}
.header.opened .header-menu__button span::after {
  width: 25px;
}
.header.opened .header-menu__button span::before {
  width: 12px;
}
.header.opened .header-menu__list {
  z-index: 1;
}
.header.opened .header-menu__list ul {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.2s, transform 0.25s;
}
.header-timer {
  margin-left: 1017px;
  -moz-column-gap: 19px;
       column-gap: 19px;
  margin-top: -5%;
}
.header-timer span {
  font-weight: 400;
  line-height: 19px;
  color: #8C96A0;
}
.header-timer__values {
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.header-timer__item {
  color: #A9C7C7;
}
.header-timer__item-value {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  min-width: 55px;
  text-align: center;
}
.header-timer__item-info {
  text-align: center;
  font-weight: 400;
}

.description {
  margin-top: 7%;
  max-width: 540px;
  animation: move 1s ease-in-out;
}
.description-title h1 {
  font-weight: 600;
  font-size: 100px;
  line-height: 100px;
}
.description-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #A9C7C7;
  margin-top: 26px;
}
.description-button {
  background: #8856D9;
  border-radius: 6px;
  padding: 12px 36px;
  font-weight: 500;
  line-height: 19px;
  color: #fff;
  display: flex;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
  text-transform: uppercase;
  transition: background 0.25s;
  margin-top: 36px;
}
.description-button:hover {
  background: #9468da;
}
.description-button:active {
  background: #6039a0;
}

.editions {
  margin-top: 2%;
}
.editions-list {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(3, 350px);
  -moz-column-gap: 16px;
       column-gap: 16px;
  justify-content: center;
}
.editions-item {
  background: linear-gradient(180deg, #141615 0%, #1c2023 100%);
  border-radius: 6px;
  padding: 17px;
  transition: transform 0.25s ease-in-out;
  transform: translateX(0);
}
.editions-item:nth-child(2) {
  transition-delay: 0.25s;
}
.editions-item:last-child {
  transition-delay: 0.5s;
}
.editions-item__img {
  border-radius: 6px;
  overflow: hidden;
  width: 100%;
  height: 172px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.editions-item__title {
  margin-top: 20px;
  font-weight: 700;
  line-height: 19px;
  text-align: center;
}
.editions-item__subtitle {
  color: #A9C7C7;
  line-height: 19px;
  font-weight: 500;
  text-align: center;
  margin: 10px 0 32px 0;
}
.editions-item__description {
  color: #8C96A0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.editions-item__price {
  font-weight: 700;
  font-size: 19px;
  line-height: 23px;
  color: #fff;
  margin: 6px 0 14px 0;
  text-align: right;
}
.editions-item__btn {
  background: #8856D9;
  border-radius: 6px;
  padding: 12px 36px;
  font-weight: 500;
  line-height: 19px;
  color: #fff;
  display: flex;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
  text-transform: uppercase;
  transition: background 0.25s;
  padding: 8px 18px;
  font-size: 13px;
  line-height: 15px;
  margin-left: auto;
}
.editions-item__btn:hover {
  background: #9468da;
}
.editions-item__btn:active {
  background: #6039a0;
}

.dual {
  -moz-column-gap: 5%;
       column-gap: 5%;
  margin-top: 20px;
  transition: column-gap 0.5s;
  transition: column-gap 0.5s, -moz-column-gap 0.5s;
}
.dual-description {
  max-width: 410px;
}
.dual-description p {
  color: #A9C7C7;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 22px;
}
.dual-description p span {
  font-weight: 700;
}
.dual-description__info {
  margin-top: 19px;
  justify-content: space-between;
  align-items: center;
}
.dual-description__price {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}
.dual-description__button {
  background: #FF4136;
  border-radius: 6px;
  padding: 12px 36px;
  font-weight: 500;
  line-height: 19px;
  color: #fff;
  display: flex;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
  text-transform: uppercase;
  transition: background 0.25s;
  padding: 14px 19px;
  font-weight: 500;
}
.dual-description__button:hover {
  background: #f8625a;
}
.dual-description__button:active {
  background: #a4221c;
}
.dual-img {
  max-width: 50%;
  position: relative;
}
.dual-img img {
  max-width: -moz-fit-content;
  max-width: fit-content;
  animation: gravitation 1.5s linear infinite alternate;
}
.dual-img::before {
  content: "";
  display: block;
  width: 194px;
  height: 119px;
  background: rgba(79, 96, 152, 0.8);
  filter: blur(75px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video {
  position: relative;
  margin-top: 32px;
  transition: transform 0.5s;
  transform: scale(1);
}
.video video {
  width: 100%;
  height: auto;
}
.video video.active {
  display: block;
}
.video-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
}
.video-title {
  font-weight: 500;
  font-size: 50px;
  color: #fff;
  line-height: 39px;
}
.video-title.hidden {
  display: none;
}
.video-btn {
  background: #30373F;
  border-radius: 6px;
  padding: 9px 26px;
  font-weight: 500;
  line-height: 16px;
  color: #fff;
  display: inline-block;
  cursor: pointer;
  margin: 28px auto 0 auto;
  transition: background 0.25s;
  text-transform: uppercase;
}
.video-btn:hover {
  background: #525c67;
}
.video-btn.hidden {
  display: none;
}

.explore-list.active {
  display: block;
}
.explore-items {
  display: flex;
  flex-direction: column;
  row-gap: 100px;
  margin-top: 32px;
}
.explore-items h3 {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}
.explore-item__price {
  margin-top: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  text-align: center;
}
.explore-switch {
  margin-top: 20px;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.explore-switch__checkbox {
  width: 54px;
  height: 25px;
  background: #30373F;
  border-radius: 12px;
  position: relative;
}
.explore-switch__checkbox input {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}
.explore-switch__checkbox input:checked + span {
  transform: translateX(28px);
}
.explore-switch__checkbox span {
  border-radius: 50%;
  background: #8856D9;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 4px;
  left: 4px;
  transform: translate(0);
  transition: transform 0.25s;
}
.explore-switch__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #30373F;
}
.explore-switch__title.active {
  color: #fff;
}
.explore-info {
  margin-top: 96px;
  -moz-column-gap: 5%;
       column-gap: 5%;
  transition: column-gap 0.5s;
  transition: column-gap 0.5s, -moz-column-gap 0.5s;
}
.explore-info.reverse {
  flex-direction: row-reverse;
}
.explore-info.reverse .explore-img {
  justify-content: start;
}
.explore-info.reverse .explore-description {
  text-align: right;
}
.explore-info.reverse .explore-button {
  margin-left: auto;
}
.explore-img {
  width: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: end;
}
.explore-img__wrap {
  width: 300px;
  height: 300px;
  border-radius: 12px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.explore-img__wrap::before {
  content: "";
  display: block;
  width: 61px;
  height: 140px;
  background: #FF4136;
  filter: blur(75px);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  opacity: 0.8;
}
.explore-img__wrap img {
  max-width: unset;
  position: absolute;
  bottom: 0;
  left: 0;
}
.explore-description {
  min-width: -moz-max-content;
  min-width: max-content;
  width: 50%;
}
.explore-description ul {
  flex-direction: column;
  font-weight: 400;
  font-size: 15px;
  line-height: 36px;
  display: none;
}
.explore-description ul.active {
  display: flex;
}
.explore-button {
  background: #FF4136;
  border-radius: 6px;
  padding: 12px 36px;
  font-weight: 500;
  line-height: 19px;
  color: #fff;
  display: flex;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
  text-transform: uppercase;
  transition: background 0.25s;
  margin-top: 28px;
}
.explore-button:hover {
  background: #f8625a;
}
.explore-button:active {
  background: #a4221c;
}

.news {
  margin-top: 32px;
  transition: transform 0.5s;
  transform: translate(0);
}
.news-item {
  background: linear-gradient(177.87deg, #30373f 41.63%, #141615 185.57%);
  border-radius: 6px;
  padding: 20px;
}
.news-item__info {
  align-items: center;
}
.news-item__subtitle {
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #8856D9;
}
.news-item__date {
  font-weight: 400;
  font-size: 10px;
  line-height: 17px;
  color: #8C96A0;
  margin-left: 87%;
}
.news-item__title {
  font-weight: 600;
  font-size: 19px;
  line-height: 23px;
  text-transform: uppercase;
  color: #fff;
  margin: 7px 0 16px 0;
}
.news-item__description {
  -moz-column-gap: 24px;
       column-gap: 24px;
  height: 248px;
  align-items: flex-start;
}
.news-item__img {
  min-width: 278px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.news-item__text {
  flex-direction: column;
  height: 100%;
}
.news-item__text p {
  color: #d9d9d9;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
}
.news-item__button {
  background: #8C96A0;
  border-radius: 6px;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  color: #fff;
  margin-top: 10px;
  padding: 8px 30px;
  display: flex;
  width: -moz-max-content;
  width: max-content;
  margin-left: auto;
  margin-top: auto;
  transition: background 0.25s;
}
.news-item__button:hover {
  background: #30373F;
}

.faq-items {
  flex-direction: column;
  row-gap: 32px;
}
.faq-item {
  transition: transform 0.4s;
  transform: translate(0);
}
.faq-item:nth-child(2) {
  transition-delay: 0.25s;
}
.faq-item:last-child {
  transition-delay: 0.5s;
}
.faq-item__header {
  width: 100%;
  justify-content: space-between;
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  color: #fff;
  cursor: pointer;
  border-bottom: 2px solid #8856D9;
  padding-bottom: 8px;
}
.faq-item__header span {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #8c96a0;
  border-radius: 6px;
  width: 30px;
  height: 30px;
}
.faq-item__header span::before {
  font-size: 25px;
  content: "+";
  transition: transform 0.25s;
}
.faq-item__content {
  height: 0;
  opacity: 0;
  transition: height 0.25s, opacity 0.25s;
}
.faq-item__content.show-ques {
  opacity: 1;
  height: 34px;
}
.faq-item__content p {
  padding-top: 13px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.faq-item__content p span {
  color: #ff4136;
}
.faq-item.opened span::before {
  transform: rotate(45deg);
}
.faq-item.opened .faq-item__content {
  opacity: 1;
}

.footer {
  padding-top: 156px;
  position: relative;
  padding-bottom: 20px;
}
.footer::before {
  content: " ";
  display: block;
  width: 786px;
  height: 439px;
  position: absolute;
  top: 0;
  right: 20%;
  z-index: -1;
  background: url(../images/footer.png) no-repeat center/cover;
}
.footer-top {
  justify-content: space-between;
}
.footer-menu {
  -moz-column-gap: 22px;
       column-gap: 22px;
  font-weight: 400;
  line-height: 27px;
  text-transform: uppercase;
  transition: color 0.25s ease;
}
.footer-menu a {
  color: rgba(255, 255, 255, 0.5);
}
.footer-menu a:hover {
  color: #8856D9;
}
.footer-lang {
  font-weight: 700;
  font-size: 14px;
  line-height: 27px;
  cursor: pointer;
}
.footer-lang span {
  text-transform: uppercase;
  color: #8C96A0;
  margin-right: 5px;
}
.footer-lang__current {
  color: #fff;
  text-transform: uppercase;
}
.footer-lang__list {
  position: relative;
}
.footer-lang__list:hover .footer-lang__content {
  visibility: visible;
}
.footer-lang__content {
  background: #30373F;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  visibility: hidden;
}
.footer-lang__content-item {
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.25s ease;
}
.footer-lang__content-item:hover {
  color: #8856D9;
}
.footer-info {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #8C96A0;
  margin: 50px auto 38px auto;
  max-width: 700px;
}
.footer-icon {
  text-align: center;
}
.footer-year {
  margin: 20px auto 13px auto;
}
.footer-year, .footer-rights {
  font-weight: 400;
  line-height: 19px;
  color: #8C96A0;
  text-align: center;
}
.footer-year a, .footer-rights a {
  color: #8856D9;
  text-decoration: underline;
}

.swiper-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  background: #8c96a0;
  border-radius: 6px;
  z-index: 9;
  cursor: pointer;
  transition: baclground 0.25s;
}
.swiper-button:hover {
  background: #8856D9;
}
.swiper-button svg {
  fill: #fff;
}
.swiper-button-prev {
  left: 10%;
}
.swiper-button-next {
  right: 10%;
}
.swiper-button-next svg {
  transform: scale(-1, 1);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s;
}
.modal.opened {
  visibility: visible;
  opacity: 1;
}
.modal-wrapper {
  background: linear-gradient(180deg, #30373f 0%, #000000 99.82%);
  border-radius: 12px;
  padding: 32px;
  position: relative;
}
.modal-wrapper::before {
  width: 90%;
  height: 90%;
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: url(../images/modal.png) no-repeat center/cover;
}
.modal-close {
  position: absolute;
  top: 12px;
  right: 12px;
  font-weight: 500;
  line-height: 16px;
  color: #d9d9d9;
  cursor: pointer;
}
.modal-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #8856D9;
}
.modal-version {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  margin-top: 5px;
}
.modal-description {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #d9d9d9;
}
.modal-total {
  font-weight: 500;
  width: 100%;
  justify-content: space-between;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
}
.modal-total__price {
  font-size: 20px;
}
.modal-submit {
  background: #8856D9;
  border-radius: 6px;
  padding: 12px 36px;
  font-weight: 500;
  line-height: 19px;
  color: #fff;
  display: flex;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
  text-transform: uppercase;
  transition: background 0.25s;
  width: 100%;
  justify-content: center;
}
.modal-submit:hover {
  background: #9468da;
}
.modal-submit:active {
  background: #6039a0;
}

.form {
  margin-top: 17px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  justify-content: space-between;
  width: 470px;
}
.form-group {
  width: calc(50% - 13px);
}
.form-group.full {
  width: 100%;
}
.form-group label {
  display: block;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 7px;
}
.form-group input {
  background: #30373F;
  border-radius: 6px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  padding: 16px 14px;
  color: #d9d9d9;
  width: 100%;
}
.form-checkbox {
  position: relative;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.form-checkbox .check {
  background: #30373F;
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 6px;
}
.form-checkbox label {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #fff;
}
.form-checkbox label .red {
  color: #ff4136;
}
.form-checkbox input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.form-checkbox input:checked + .check::before {
  content: "✓";
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  transition: all 0.25s;
}
.overlay.opened {
  visibility: visible;
  opacity: 1;
  z-index: 998;
}

@media (max-width: 425px) {
  .section-editions {
    margin-bottom: 1%;
  }
  .section-main::before {
    display: none;
  }
  .section-main::after {
    left: 2%;
    width: 424px;
  }
  .container {
    width: 100%;
    margin: 0 auto;
    padding-left: 10%;
  }
  #titleVid {
    margin-left: 6%;
  }
  #newsTitle {
    margin-left: 8%;
  }
  #faqTitle {
    margin-top: -33%;
    margin-left: -5%;
  }
  .mobile-burger-menu.show-menu {
    z-index: 1000;
    padding-left: 45px;
  }
  .header {
    width: 424px;
  }
  .header .ul-hidden {
    display: none;
  }
  .header .show-menu {
    display: block;
    padding-left: unset;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
  }
  .header .show-menu.header-menu__button:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .header .show-menu.header-menu__button:nth-child(1)::after {
    opacity: 0;
  }
  .header .show-menu.header-menu__button:nth-child(1)::before {
    transform: translateY(-8px) rotate(-45deg);
  }
  .header-menu__button {
    margin-left: 1%;
    width: 15px;
    height: 10px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    transition: width 0.25s;
    display: none;
  }
  .header-menu__button span {
    width: 25px;
  }
  .header-menu__button1 {
    display: block;
  }
  .header-menu__list ul {
    display: none;
  }
  .header-menu__list ul.show {
    display: none;
  }
  .header-timer {
    display: none;
  }
  .header-timer.flex {
    display: none;
  }
  .description {
    width: 424px;
  }
  .description-title h1 {
    font-weight: 400;
    font-size: 80px;
    line-height: 80px;
  }
  .description-subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #A9C7C7;
    margin-top: 26px;
    width: 400px;
  }
  .description-button {
    width: 401px;
    display: grid;
    place-items: center;
  }
  .explore-info.reverse .explore-button {
    margin-left: 30%;
  }
  .explore-info.reverse .explore-description.a {
    margin-top: -15%;
    margin-left: 0%;
  }
  .editions {
    margin-top: -50%;
  }
  .editions-description {
    margin-left: 1%;
  }
  .editions-list {
    display: flex;
    flex-direction: column;
    width: 402px;
    margin-left: 0%;
  }
  .editions-item {
    background: linear-gradient(180deg, #141615 0%, #1c2023 100%);
    border-radius: 6px;
    padding: 17px;
    transition: transform 0.25s ease-in-out;
    transform: translateX(0);
    height: 300px;
  }
  .editions-item__img {
    display: none !important;
  }
  .editions-item__description {
    align-items: center;
  }
  .editions-item__price {
    text-align: center;
    margin-top: 15px;
  }
  .editions-item__btn {
    margin: 0 auto;
  }
  .dual-description {
    margin-left: -8%;
    width: 350px;
  }
  .dual-description__info {
    flex-direction: column;
    margin-left: -9%;
  }
  .dual-description__price {
    margin-left: 6%;
  }
  .dual-description__button {
    margin-top: 20px;
    margin-left: 9%;
  }
  .dual-img {
    display: none;
  }
  .video {
    margin-top: 30px;
  }
  .video-info {
    margin-left: 3%;
  }
  #video {
    width: 110%;
  }
  .explore-switch {
    margin-left: 3%;
  }
  .explore-img {
    display: none;
  }
  .explore-list.active {
    margin-top: -16%;
    text-align: left;
  }
  .explore-list.active.a {
    margin-left: 6%;
  }
  .explore-button {
    margin-left: 33%;
  }
  .news {
    left: 6%;
  }
  .news .swiper-wrapper {
    display: flex;
  }
  .news-item__date {
    margin-left: 1%;
  }
  .news-item__img {
    display: none;
  }
  .news-item__button {
    margin-top: 4%;
  }
  .faq-items {
    margin-top: 6%;
  }
  .faq-item {
    margin-top: 5%;
  }
  .footer::before {
    display: none;
  }
  .footer-menu {
    flex-direction: column;
  }
  .footer-top {
    flex-direction: column;
  }
  .footer-lang {
    justify-content: center;
  }
}
@keyframes gravitation {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes move {
  0% {
    opacity: 0;
    transform: translateX(-400px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}